.App {
  text-align: center;
  font-family: "Helvetica" sans-serif;
  background-color: #222;
  color: white;
}

.App-logo {
  -webkit-animation: App-logo-spin infinite 20s linear;
          animation: App-logo-spin infinite 20s linear;
  height: 80px;
  margin: 14px;
}

.App-header {
  background-color: #3343;
  padding: 200px;
  color: white;
  display: flex col;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App-title {
  font-size: 2.5em;
}

.App-button {
  padding: 10px;
}

.row {
  font-size: large;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 80px 0 100px 0;
  font-weight: 200;
  min-height: 600px;
}

.section_1__genechain {
  /* background-color: #223; */
}

.preview {
  display: flex col wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.download {
  display: flex wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin: 0 0 15px 15px;
}

@-webkit-keyframes App-logo-spin {
  from { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@keyframes App-logo-spin {
  from { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
.header {
  padding-bottom: 50px;
  font-weight: lighter;
}

.section_2__storj {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section_2__storj > * {
  padding: 25px 0;
}

.storj_auth {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}


.storj-buckets > *{
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.buckets_table {
  display: flex col;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bucket_row {
  padding: 20px;
  height: 100px;
}

.bucket_row > * {
}

.bucket_row :nth-child(2n) {

}

.bucket_row:hover {

}

.bucket_row:focus {

}
.section_1__genechain {
  background-color: #223;
}

.preview {
  display: flex col;
}

.genes_table {
  margin-top: 30px;
  display: inline-block;
  max-height: 400px;
  overflow: scroll;
}

.download {
  display: flex wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.choices {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.choices > button {
  margin: 0 30px;
}

/*# sourceMappingURL=main.css.map*/