.header {
  padding-bottom: 50px;
  font-weight: lighter;
}

.section_2__storj {
  flex-wrap: wrap;
}

.section_2__storj > * {
  padding: 25px 0;
}

.storj_auth {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}


.storj-buckets > *{
  flex: 1;
  align-items: flex-start;
  justify-content: flex-start;
}

.buckets_table {
  display: flex col;
  align-items: center;
  justify-content: center;
}

.bucket_row {
  padding: 20px;
  height: 100px;
}

.bucket_row > * {
}

.bucket_row :nth-child(2n) {

}

.bucket_row:hover {

}

.bucket_row:focus {

}
